$button-color: #ffffff;
$button-background: rgba(0, 123, 255, 0.8);
$button-size: 50px;
$button-shadow-color: rgba(0, 0, 0, 0.2);

.back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: $button-size;
  height: $button-size;
  background: $button-background;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px $button-shadow-color;
  opacity: 0.7;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    opacity: 0.9;
  }
}

.arrow-up {
  border: solid $button-color;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: translateY(3px) rotate(-135deg);
  transition: border-color 0.3s;
}
